* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

header {
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 25px;
    z-index: 99;
}

.logo {
    float: left;
    text-transform: uppercase;
}

.menu {
    float: right;
}

.menu ul {
    float: left;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    margin-right: 30px;
}

.toggleBtn {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 10px;
}

.toggleBtn span {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: black;
    top: 0;
    left: 0;
    transition: all ease 0.5s;
}

.toggleBtn span:nth-child(2) {
    top: 15px;
}

.toggleBtnActive span {
    transform: rotate(45deg);
}

.toggleBtnActive span:nth-child(2) {
    transform: rotate(-45deg);
    top: 10px;
}

.toggleBtnActive span {
    top: 10px;
}

.contactomobile {
    display: none;
}

.go-upp {
    display: none;
}


/* GRILLAS */

.grid1 {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto auto auto;
    background-color: #ecedf2;
}

.nombre {
    grid-column: 1/4;
    position: relative;
}

.nombre-main-1 {
    height: 99vh;
    overflow: visible;
    pointer-events: none;
}

.nombre-main-mob {
    height: 99vh;
    overflow: visible;
    pointer-events: none;
    display: none;
}

.nombre-port {
    position: absolute;
    top: 58%;
    left: 35%;
    display: block;
    width: 30%;
    margin: 0 auto;
}

.navhint {
    position: absolute;
    bottom: 2%;
    right: 2%;
}

h1 {
    font-family: 'Abel', sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-size: 2.5em;
    display: inline-block;
    color: #101b89;
}

h2 {
    font-weight: 400;
    font-size: 1.2em;
    color: #101b89;
}

h3 {
    display: inline-block;
    font-weight: 400;
    font-size: 1.2em;
    color: #101b89;
}

p {
    text-align: justify;
    font-size: 0.85em;
    line-height: 1.3em;
    margin-bottom: 2em;
}

h4 {
    font-weight: 600;
    font-size: 0.9em;
    color: #101b89;
    margin-bottom: 1em;
}

.grid4 h1,
.grid4 h2,
.grid4 h3,
.grid4 h4 {
    color: #454c80;
}


/* ----------------------- GRID 2 ----------------------- */

.grid2 {
    display: grid;
    grid-template-columns: 5.5% 41% 5% 3% 40% 5.5%;
    /* grid-template-rows: 8.5vh 10.5vh 4vh 61vh 9.3vh 8.5vh; */
    grid-template-rows: 8.5vh auto 4vh auto auto 8.5vh;
    background-color: white;
}

.nombre2 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.desc2 {
    grid-column: 2/3;
    grid-row: 5/6;
    text-align: justify;
    margin-left: 8%;
    margin-right: 8%;
}

.grid2-1 {
    grid-column: 2/3;
    grid-row: 4/5;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 1em;
}

.grid2-2 {
    grid-column: 4/6;
    grid-row: 2/7;
    display: flex;
    align-items: center;
}

.grid2-2 img {
    vertical-align: middle;
}

.grid2-3 {
    grid-column: 5/7;
    grid-row: 1/7;
    background-color: #ecedf2;
    padding-left: 20%;
}


/* ----------------------- GRID 3 ----------------------- */

.grid3 {
    display: grid;
    grid-template-columns: 5.5% 40% 5% 44% 5.5%;
    grid-template-rows: 8.5vh auto auto 8.5vh;
    background-color: white;
}

.desc3 {
    grid-column: 2/3;
    grid-row: 2/4;
}

.desc3-2 {
    grid-column: 4/5;
    grid-row: 2/4;
}

.part1 {
    padding-bottom: 1em;
}

.part2 {
    padding-bottom: 1em;
}

.part3 {
    display: grid;
    grid-template-columns: 30% 3% 30% 3% 30% 3%;
}

.div1 {
    grid-column: 1/2;
}

.div2 {
    grid-column: 3/4;
}

.div3 {
    grid-column: 5/6;
}


/* ----------------------- GRID 4 ----------------------- */

.grid4 {
    display: grid;
    grid-template-columns: 5.5% 42% 5% 42% 5.5%;
    grid-template-rows: 8.5vh auto auto 8.5vh;
    background-color: #d7d8db;
}

.nombre4 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.grid4-1 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.grid4-1v2 {
    display: grid;
    grid-template-columns: 50% 5% 45%;
    grid-template-rows: auto auto;
}

.imgprincipal {
    grid-column: 1/4;
    grid-row: 1/2;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.desc4-1 {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: justify;
}

.imgsec {
    grid-column: 3/4;
    grid-row: 2/3;
}

.grid4-2 {
    grid-column: 4/5;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 47% 6% 47%;
    grid-template-rows: auto auto;
}

.desc4-2 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.desc4-3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.imgter {
    grid-column: 1/4;
    grid-row: 2/3;
}


/* ----------------------- GRID 5 ----------------------- */

.fondo5 {
    position: absolute;
    z-index: -1;
    background: rgb(215, 216, 219);
    background-color: #d7d8db;
    transform: scale(120%);
    width: 100%;
    height: 130vh;
}

.grid5 {
    display: grid;
    grid-template-columns: 5.5% 24.6% 2% 35.4% 2% 24.6% 5.5%;
    grid-template-rows: 8.5vh auto auto 8.5vh;
    background-color: #d7d8db;
}

.image1 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.image2 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.image3 {
    grid-column: 6/7;
    grid-row: 2/3;
}


/* ----------------------- GRID 6 ----------------------- */

.grid6 {
    display: grid;
    grid-template-columns: 5.5% 27% 20% 5% 37% 5.5%;
    grid-template-rows: 8.5vh auto auto auto 8.5vh;
}

.nombre6 {
    grid-column: 2/4;
    grid-row: 2/3;
}

.grid6-1 {
    padding-top: 2em;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: justify;
}

.grid6-2 {
    margin-top: 2em;
    margin-left: 1.5em;
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: right;
}

.anotacion {
    background-color: #ecedf2;
    padding: 0.8em;
    text-align: right;
    border-radius: 9px 9px 0 9px;
}

.grid6-3 {
    margin-top: 1em;
    grid-column: 2/4;
    grid-row: 4/5;
}

.grid6-4 {
    grid-column: 5/6;
    grid-row: 1/6;
    background-color: #ecedf2;
}

.grid6-5 {
    grid-column: 5/6;
    grid-row: 2/5;
    text-align: center;
    display: flex;
    align-items: center;
}

.grid6-5 .pc-grid6-4 {
    margin: 0 auto;
    vertical-align: middle;
}

.mobile-grid6-4 {
    display: none;
}


/* ----------------------- GRID 7 ----------------------- */

.grid7 {
    display: grid;
    grid-template-columns: 5.5% 42% 5% 42% 5.5%;
    grid-template-rows: 8.5vh auto auto auto 8.5vh;
}

.nombre7 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.grid7-1 {
    grid-column: 2/3;
    grid-row: 3/4;
    padding-top: 2em;
}

.grid7-2 {
    grid-column: 2/3;
    grid-row: 4/5;
    padding-top: 1.5em;
}

.grid7-2 p {
    margin-bottom: 0.5em;
}

.grid7-3 {
    grid-column: 4/5;
    grid-row: 2/5;
}

.grid7-3 h4 {
    margin-bottom: 0.4em;
    margin-top: 0.8em;
}


/* ----------------------- GRID 8 ----------------------- */

.grid8 {
    display: grid;
    grid-template-columns: 5.5% 22.25% 22.25% 22.25% 22.25% 5.5%;
    grid-template-rows: 8.5vh auto auto auto 8.5vh;
}

.nombre8 {
    grid-column: 2/6;
    grid-row: 2/3;
    padding-left: 0.7em;
    padding-bottom: 0.7em;
}

.grid8 img {
    padding: 0.7em;
}

.grid8-1 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.grid8-2 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.grid8-3 {
    grid-column: 4/5;
    grid-row: 3/4;
}

.grid8-4 {
    grid-column: 5/6;
    grid-row: 3/4;
}

.grid8-5 {
    grid-column: 3/5;
    grid-row: 4/5;
}


/* ----------------------- GRID 9 ----------------------- */

.grid9 {
    display: grid;
    grid-template-columns: 5.5% 22.25% 22.25% 22.25% 22.25% 5.5%;
    grid-template-rows: 8.5vh auto auto auto 8.5vh;
}

.nombre9 {
    grid-column: 2/6;
    grid-row: 2/3;
    padding-left: 0.7em;
    padding-bottom: 0.7em;
}

.grid9 img {
    padding: 0.7em;
}

.grid9-1 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.grid9-2 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.grid9-3 {
    grid-column: 4/5;
    grid-row: 3/4;
}

.grid9-4 {
    grid-column: 5/6;
    grid-row: 3/4;
}


/* ----------------------- GRID 10 ----------------------- */

.grid10 {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 8.5vh 70vh 13vh 8.5vh;
    background-color: #ecedf2;
}

.contacto {
    grid-column: 1/4;
    grid-row: 2/3;
}

.contacto1 {
    height: 70vh;
    overflow: visible;
    pointer-events: none;
}

.callmail {
    grid-column: 2/3;
    grid-row: 3/4;
}

.iconcall {
    display: inline-block;
    width: 1.3em;
    margin-right: 0.5em;
}

.call {
    text-align: center;
}

.call h4 {
    display: inline-block;
    font-size: 1.3em;
}

.iconmail {
    display: inline-block;
    width: 1.3em;
    margin-right: 0.5em;
}

.mail {
    text-align: center;
}

.mail h4 {
    display: inline-block;
    font-size: 1.3em;
}

.linea {
    border-bottom: 3px #ecedf2 solid;
}

.fp-slidesNav {
    margin-left: 50% !important;
    text-align: center;
}


/* ------------- */

.fp-slidesContainer {
    width: 100%!important;
    transform: none!important;
}

.fp-slide {
    width: 100%!important;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all .7s ease-in-out;
}

.fp-slide.active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transition-delay: .2s;
}